services:
  bot:
    image: ghcr.io/adrianvillanueva997/telegrambot-reminders:v1.2.2@sha256:9f8151a45368041ef412afa51b6ce95797921220e95c4c5eb9216409063c7712
    networks:
      - otlp
    container_name: telegrambot_reminders
    restart: unless-stopped
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
networks:
  otlp:
    external: true
