services:
  bot:
    image: ghcr.io/adrianvillanueva997/telegrambot-reminders:latest
    networks:
      - otlp
    container_name: telegrambot_reminders
    restart: unless-stopped
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
networks:
  otlp:
    external: true
